<button mat-icon-button [matMenuTriggerFor]="menu" class="btn btn-outline-basic"
matBadge="16" matBadgePosition="before" matBadgeColor="accent">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-divider></mat-divider>
<mat-menu #menu="matMenu" class="dark">
  <button mat-menu-item class="btn btn-dark">
    <mat-icon>widgets</mat-icon>
    <span>Meus dados</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="btn btn-dark" disabled>
    <mat-icon>mail_outline</mat-icon>
    <span>Checar e-mail</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="btn btn-dark">
    <mat-icon>notifications_none</mat-icon>
    <span>Alertas</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="btn btn-dark">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>